<table class="ui table" ng-init="load()">
    <thead>
    <tr>
        <th>Id</th>
        <th>Categoria</th>
        <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="reg in registros">
        <td>{{reg.id}}</td>
        <td>{{reg.nome}}</td>
        <td>
            <a href="#/categorias/editar/{{reg.id}}" class="ui green button">Editar</a>
            <a ng-click="delete(reg.id)" class="ui red button">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="#/categorias/novo" class="ui yellow button">Adicionar nova categoria</a>
