<form class="ui form" ng-submit="edit(item)" ng-init="get()">
    <h4 class="ui dividing header">Editar uma Categoria</h4>
    <div class="field">
        <label>Nome</label>
        <div class="field">
            <div class="field">
                <input name="nome" id="nome" ng-model="item.nome" required="required" placeholder="Coloque o nome da Categoria aqui..." type="text">
            </div>
        </div>
    </div>
    <button class="ui primary submit button">Salvar</button>
    <a href="#/categorias" class="ui yellow button">Voltar</a>
</form>
