<form class="ui form" ng-submit="edit(item)" ng-init="get()">
    <h4 class="ui dividing header">Editar um Produto</h4>
    <div class="field">
        <label>Nome</label>
        <div class="field">
            <div class="field">
                <input name="nome" id="nome" ng-model="item.nome" required="required" placeholder="Coloque o nome do Produto aqui..." type="text">
            </div>
        </div>
    </div>
    <div class="field">
        <label>Categoria</label>
        <div class="field">
            <div class="field">
                <select class="ui dropdown search" id="categoriaId" name="categoriaId"
                        ng-model="item.categoria.id" ng-selected="item.categoria.id" ng-change="item.categoria.id = item.categoria.id"
                        ng-options="categoria.id as categoria.nome for categoria in categorias">
                </select>
            </div>
        </div>
    </div>
    <div class="field">
        <label>Descrição</label>
        <div class="field">
            <div class="field">
                <input name="descricao" id="descricao" ng-model="item.descricao" required="required" placeholder="Coloque a descrição do Produto aqui..." type="text">
            </div>
        </div>
    </div>
    <button class="ui primary submit button">Salvar</button>
    <a href="#/produtos" class="ui yellow button">Voltar</a>
</form>
<script>
    setTimeout(function(){
        $jQuery('.ui.dropdown')
                .dropdown();
    },1000);
</script>
