<?php echo $this->doctype(); ?>
<html lang="en" ng-app="myApp">
    <head>
        <title>Zend Framework 2 + Angular</title>
        <meta charset="utf-8">
        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
              ->appendStylesheet($this->basePath('dist/semantic.min.css'))
              ->appendStylesheet($this->basePath('alertifyjs/css/alertify.min.css'))
              ->appendStylesheet($this->basePath('alertifyjs/css/themes/semantic.min.css'))
        ?>
    </head>
    <body>
        <div class="ui fixed inverted main menu">
            <a class="active item" href="<?php echo $this->url('home') ?>#/">
                <img src="<?php echo $this->basePath('img/zend2-angularjs.png') ?>" alt="Zend Framework 2 + Angular" />
            </a>

            <div class="right menu">
                <div class="ui dropdown item">
                    <i class="globe icon"></i> Navegar pelo código <i class="icon dropdown"></i>
                    <div class="menu">
                        <a class="item" href="#categorias"><i class="bookmark icon"></i> Categorias</a>
                        <a class="item" href="#produtos"><i class="add to cart icon"></i> Produtos</a>
                    </div>
                </div>
                <a class="active item" href="https://bitbucket.org/rafapaulino/zf2angular" target="_blank">
                    <i class="github icon"></i> Baixar o código no repositório
                </a>
            </div>
        </div>
        <br><br>
        <?php echo $this->content; ?>
        <br>
        <footer class="ui padded grid">
            <div class="black row">
                <div class="column">
                    <p>&copy; <?php echo date('Y') ?> - Estudo do Zend Framewok 2 e AngularJs - Criado por Rafael Paulino</p>
                </div>
            </div>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script>var $jQuery = jQuery.noConflict();</script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-route.min.js"></script>
        <!-- Scripts -->
        <?php echo $this->headScript()
            ->appendFile($this->basePath('dist/semantic.min.js'))
            ->appendFile($this->basePath('alertifyjs/alertify.min.js'))
            ->appendFile($this->basePath('angular/app.js'))
            ->appendFile($this->basePath('angular/controllers.js'))
            ->appendFile($this->basePath('angular/services.js'))
        ; ?>
        <?php echo $this->inlineScript() ?>
        <script>
            $jQuery('.ui.dropdown')
                .dropdown()
            ;
            //override defaults
            alertify.defaults.transition = "zoom";
            alertify.defaults.theme.ok = "ui positive button";
            alertify.defaults.theme.cancel = "ui black button";
        </script>
    </body>
</html>
