<div class="row">
    <div class="ui grid page centered">
        <div class="sixteen wide column"></div>
        <div class="row">
            <div class="sixteen wide column" ng-view></div>
        </div>
    </div>
</div>